{% extends 'base.html.twig' %}

{% block title 'Type des Produits' %}

{% block body %}
<!-- ============================================================== -->
<!-- Page Content -->
<!-- ============================================================== -->
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Dashboard</h4>
            </div>
            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                <!-- <a href="https://wrappixel.com/templates/ampleadmin/" target="_blank"
                            class="btn btn-danger pull-right m-l-20 hidden-xs hidden-sm waves-effect waves-light">Upgrade
                            to Pro</a> -->
                <ol class="breadcrumb">
                    <li><a href="#">Dashboard</a></li>
                </ol>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- ============================================================== -->
        <!-- table -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="white-box">
                    <h3 class="box-title">Types des produits</h3>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Libelle</th>
                                    <th colspan="2" class="resize-actions">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td class="txt-oflo">type1</td>
                                    <td><button class="btn btn-info"><i class="fa fa-edit"
                                                aria-hidden="true"></i></button></td>
                                    <td><button class="btn btn-danger"><i class="fa fa-trash-o"
                                                aria-hidden="true"></i></button></td>

                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td class="txt-oflo">type2</td>
                                    <td><button class="btn btn-info"><i class="fa fa-edit"
                                                aria-hidden="true"></i></button></td>
                                    <td><button class="btn btn-danger"><i class="fa fa-trash-o"
                                                aria-hidden="true"></i></button></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td class="txt-oflo">type3</td>
                                    <td><button class="btn btn-info"><i class="fa fa-edit"
                                                aria-hidden="true"></i></button></td>
                                    <td><button class="btn btn-danger"><i class="fa fa-trash-o"
                                                aria-hidden="true"></i></button></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td class="txt-oflo">type4</td>
                                    <td><button class="btn btn-info"><i class="fa fa-edit"
                                                aria-hidden="true"></i></button></td>
                                    <td><button class="btn btn-danger"><i class="fa fa-trash-o"
                                                aria-hidden="true"></i></button></td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td class="txt-oflo">type5</td>
                                    <td><button class="btn btn-info"><i class="fa fa-edit"
                                                aria-hidden="true"></i></button></td>
                                    <td><button class="btn btn-danger"><i class="fa fa-trash-o"
                                                aria-hidden="true"></i></button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- chat-listing & recent comments -->
        <!-- ============================================================== -->
        <div class="row">
        </div>
    </div>
    <!-- /.container-fluid -->

</div>
<!-- ============================================================== -->
<!-- End Page Content -->

{% endblock %}