<form method="post" action="{{ path('produit_extension_delete', {'id': produit_extension.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ produit_extension.id) }}">
    <button class="btn btn-sm btn-outline-danger">Delete</button>
</form>
