{{ form_start(form) }}
<div class="form-group">
    <label for="" class="bmd-label-floating">produit</label>
    {{ form_row(form.produit, {'label': false, 'attr' : {'class': 'form-control'}}) }}
</div>
<div class="form-group">
    <label for="" class="bmd-label-floating">Paramètre</label>
    {{ form_row(form.parametres, {'label': false, 'attr' : {'class': 'form-control'}}) }}
</div>
<div class="form-group">
    <label for="" class="bmd-label-floating">Valeur</label>
    {{ form_row(form.par_valeur, {'label': false, 'attr' : {'class': 'form-control'}}) }}
</div>
<button class="btn btn-success btn-block">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}