{% extends 'base.html.twig' %}

{% block title %}ProduitExtension index{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-xs-12">
            <div class="card">
                <div class="card-category text-center">
                    <h2>ProduitExtension index</h2></div>
                <div class="card-body">
                    <table class="dataTable table table-striped">
                        <a class="btn btn-info rounded float-right mb-4 " href="{{ path('produit_extension_new') }}">Ajouter Produit Extension</a>
        <thead>
            <tr class="head">
                <th>Id</th>
                <th>Par_valeur</th>
                <th style="width: 15%;">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit_extension in produit_extensions %}
            <tr>
                <td>{{ produit_extension.id }}</td>
                <td>{{ produit_extension.parValeur }}</td>
                <td>
                    <a class="btn btn-warning btn-sm rounded-circle" href="{{ path('produit_extension_show', {'id': produit_extension.id}) }}"><i class="fa fa-eye" aria-hidden="true"></i></a>
                    <a class="btn btn-warning btn-sm rounded-circle"  href="{{ path('produit_extension_edit', {'id': produit_extension.id}) }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                    <a class="btn btn-danger btn-sm rounded-circle" href="{{ path('produit_extension_delete', {'id': produit_extension.id}) }}"><i class="fa fa-trash" aria-hidden="true"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3" class="text-center">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
