<form method="post" action="{{ path('etat_produit_delete', {'id': etat_produit.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ etat_produit.id) }}">
    <button class="btn btn-sm btn-outline-danger"><i class="fa fa-trash" aria-hidden="true"></i>  &nbsp; Delete</button>
</form>
