{{ form_start(form) }}
<div class="form-group">
    <label for="" class="bmd-label-floating">Libelle Etat</label>
    {{ form_row(form.libelle, {'label': false, 'attr' : {'class': 'form-control'}}) }}
</div>
<button class="btn btn-success btn-block">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}





