{% extends 'base.html.twig' %}

{% block title %}EtatProduit index{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-xs-12">
            <div class="card">
                <div class="card-category text-center"><h2>EtatProduit index</h2>
                </div>
                <div class="card-body">
    <table class="table dataTable table-striped">
        <a class="btn btn-info rounded float-right mb-4" href="{{ path('etat_produit_new') }}">Ajouter etat de produit</a>
        <thead>
            <tr class="head">
                <th>Id</th>
                <th>Libelle</th>
                <th style="width: 15%;">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for etat_produit in etat_produits %}
            <tr>
                <td>{{ etat_produit.id }}</td>
                <td>{{ etat_produit.libelle }}</td>
                <td>
                    <a class="btn btn-warning btn-sm rounded-circle" href="{{ path('etat_produit_show', {'id': etat_produit.id}) }}">
                        <i class="fa fa-eye" aria-hidden="true"></i></a>
                    </a>
                    <a class="btn btn-warning btn-sm rounded-circle"  href="{{ path('etat_produit_edit', {'id': etat_produit.id}) }}">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </a>
                    <a class="btn btn-danger btn-sm rounded-circle" href="{{ path('etat_produit_delete', {'id': etat_produit.id}) }}">
                        <i class="fa fa-trash" aria-hidden="true"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3" class="text-center">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
