{% extends 'base.html.twig' %}

{% block title %}Détail Etat Produit{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card shadow-normal radius">
                <div class="card-header card-header-primary b-2">
                    <h2>Détail l'Etat du Produit {{ etat_produit.id }}</h2>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="formGroupExampleInput">Id</label>
                        <label type="text" class="form-control" id="formGroupExampleInput">
                            {{ etat_produit.id }}
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInpu2t">Libelle</label>
                        <label type="text" class="form-control" id="formGroupExampleInput2">
                            {{ etat_produit.libelle }}
                        </label>
                    </div>
                </div>
                <div class="card-footer">
                            <a href="{{ path('etat_produit_index') }}">
                                <button class="btn btn-sm btn-outline-warning"><i class="fa fa-arrow-left mr-2" aria-hidden="true"></i>  &nbsp; Revenir au Liste</button></a>

                            <a href="{{ path('etat_produit_edit', {'id': etat_produit.id}) }}">
                                <button class="btn btn-sm btn-outline-warning"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>  &nbsp; edit</button>
                            </a>
                            {{ include('etat_produit/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
