{{ form_start(form) }}
<div class="form-row">
    <div class="form-group col-md-6" >
        <label for="" class="bmd-label-floating">Nom Produit</label>
        {{ form_row(form.pdt_libelle, {'label': false, 'attr' : {'class': 'form-control'}}) }}
    </div>
    <div class="form-group col-md-6  ">
        <label for="" class="bmd-label-floating">Référence Produit</label>
        {{ form_row(form.pdt_reference, { 'label': false, 'attr' : {'class': 'form-control'}}) }}
    </div>
    <div class="form-group col-md-6">
        <label for="" class="bmd-label-floating">Description Produit</label>
        {{ form_row(form.pdt_description, { 'label': false, 'attr' : {'class': 'form-control'}}) }}
    </div>
    <div class="form-group col-md-6  ">
        <label for="" class="bmd-label-floating">Description Int Produit</label>
        {{ form_row(form.pdt_desc_int, { 'label': false, 'attr' : {'class': 'form-control'}}) }}
    </div>
    <div class="form-group col-md-6">
        <label for="" class="bmd-label-floating">Image Produit</label>
        {{ form_row(form.pdt_image, { 'label': false, 'attr' : {'class': 'form-control'}}) }}
    </div>
    <div class="form-group col-md-6">
        <label for="" class="bmd-label-floating">Unité Mesure</label>
        {{ form_row(form.um, { 'label': false, 'attr' : {'class': 'form-control','style':'height:100px'}}) }}
    </div>
    <div class="form-group col-md-6">
        <label for="" class="bmd-label-floating">Etat Produit</label>
        {{ form_row(form.etp, { 'label': false, 'attr' : {'class': 'form-control mdb-select colorful-select dropdown-primary'}, 'data-style': "btn btn-link"}) }}
    </div>
    <div class="form-group col-md-6">
        <label for="" class="bmd-label-floating">Gamme Produit</label>
        {{ form_row(form.gamme, {'label': false,  'attr' : {'class': 'form-control'}, 'data-style': "btn btn-link"}) }}
    </div>
    <div class="form-group col-md-6">
        <label for="" class="bmd-label-floating">Type Produit</label>
        {{ form_row(form.tpd, {'label': false,  'attr' : {'class': 'form-control'}, 'data-style': "btn btn-link"}) }}
    </div>
    <div class="form-group col-md-6">
        <label for="" class="bmd-label-floating">Marque Produit</label>
        {{ form_row(form.marque, {'label': false,  'attr' : {'class': 'form-control'}, 'data-style': "btn btn-link"}) }}
    </div>
    <div class="form-group col-md-6 text-left">
        <a class="btn btn-dark"  href="{{ path('produits_index') }}"><i class="fa fa-arrow-left mr-2" aria-hidden="true"></i> back to list</a>
    </div>
    <div class="form-group col-md-6 text-right">
        <button class="btn btn-success ">{{ button_label|default('Ajouter') }}</button>
    </div>
</div>
{{ form_end(form) }}