{% extends 'base.html.twig' %}

{% block title %}Modifier Produit{% endblock %}

{% block body %}
    <div class="container-fluid" >
        <div class="row">
            <div class="col-md-10 mx-auto">
                <div class="card">
                    <div class="card-header p-0">
                        <div class="alert alert-info">
                            <span>Modifier un Produit</span>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-group container">
                            {{ include('produits/_form.html.twig', {'button_label': 'Update'}) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
