{% extends 'base.html.twig' %}

{% block title %}Produits index{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-xs-12">
                <div class="card">
                    <div class="card-header separator">
                        <h5 class="font-weight-bold">Produits</h5>
                    </div>
                    <div class="card-body">
                        <table class="dataTable table table-striped table-hover">
                            <a class="btn btn-info rounded float-right mb-4 " href="{{ path('produits_new') }}">Ajouter Produit</a>
                            <thead class="current">
                            <tr>
                                <th>Réference</th>
                                <th>Désignation</th>
                                <th>Description</th>
                                <th>Description interne</th>
                                <th>Marque</th>
                                <th class="text-right">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for produit in produits %}
                                <tr >
                                    <td>{{ produit.pdtReference }}</td>
                                    <td>{{ produit.pdtLibelle }}</td>
                                    <td>{{ produit.pdtDescription }}</td>
                                    <td>{{ produit.pdtDescint }}</td>
                                    <td>{{ produit.marque }}</td>
                                <td class="td-actions text-right">
                                    <a class="btn btn-warning btn-simple" href="{{ path('produits_show', {'id': produit.id}) }}"><i class="material-icons">remove_red_eye</i></a>
                                    <a class="btn btn-warning btn-simple" href="{{ path('produits_edit', {'id': produit.id}) }}"><i class="material-icons">edit</i></a>
                                    {{ include('produits/_delete_form.html.twig') }}
                                </td>
</tr>
{% else %}
<tr>
<td colspan="8" class="text-center">no records found</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
{% endblock %}