{% extends 'base.html.twig' %}

{% block title %}Ajouter un Produit{% endblock %}

{% block body %}
    <div class="container-fluid" >
        <div class="row">
            <div class="col-md-10 mx-auto">
                    <div class="card">
                        <div class="card-header p-0">
                            <div class="alert alert-info">
                                <span>Ajouter un Produit</span>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group container">
                                {{ include('produits/_form.html.twig') }}
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
{% endblock %}