{% extends 'base.html.twig' %}

{% block title %}Produits{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 mx-auto">
                    <div class="card">
                        <div class="card-header p-0">
                            <div class="alert alert-info">
                                <span>Détail du Produit {{ produit.id }}</span>
                            </div>
                        </div>
                        <div class="card-body">
                           <div class="float-right"> {{ include('produits/_delete_form.html.twig') }}</div>
                            <ul class="nav nav-pills nav-pills-primary" role="tablist">
                                <li class="nav-item mr-3"><a class="nav-link btn btn-outline-primary  active" href="#tab1" data-toggle="tab" aria-expanded="true">Produit</a></li>
                                <li class="nav-item mr-3"><a class="nav-link btn btn-outline-primary " href="#tab2" data-toggle="tab" aria-expanded="false">Type</a></li>
                                <li class="nav-item mr-3"><a class="nav-link btn btn-outline-primary " href="#tab3" data-toggle="tab" aria-expanded="false">Marque</a></li>
                                <li class="nav-item mr-3"><a class="nav-link btn btn-outline-primary " href="#tab4" data-toggle="tab" aria-expanded="false">Gamme</a></li>
                            </ul>
                            <div class="tab-content tab-space ">
                                <div class="tab-pane active" id="tab1" aria-expanded="true">
                                    <div class="form-group ">
                                        <table class="table table-shopping">
                                            <tbody>
                                            <tr>
                                                <td>Libelle</td>
                                                <td> {{ produit.getPdtLibelle() }}</td>
                                            </tr>
                                            <tr>
                                                <td>Réference</td>
                                                <td>{{ produit.getPdtReference() }}</td>
                                            </tr>
                                            <tr>
                                                <td>CreatedAt</td>
                                                <td>{{ produit.createdAt ? produit.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                                            </tr>
                                            <tr>
                                                <td>UpdatedAt</td>
                                                <td>{{ produit.updatedAt ? produit.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                                            </tr>
                                            <tr>
                                                <td>Description</td>
                                                <td>{{ produit.PdtDescription() }}</td>
                                            </tr>
                                            <tr>
                                                <td>Description Interne</td>
                                                <td> {{ produit.getPdtLibelle() }}</td>
                                            </tr>
                                            <tr>
                                                <td>Image</td>
                                                <td>{{ produit.getPdtImage() }}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <div class="form-group">
                                            <a class="float-left" href="{{ path('produits_index') }}">
                                                <button class="btn btn-outline-dark"><i class="material-icons">reply</i></button></a>
                                            <a class="float-right" href="{{ path('produits_edit', {'id': produit.id}) }}">
                                                <button class="btn btn-outline-warning"><i class="material-icons">edit</i></button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab2" aria-expanded="false">Vous pouvez consulter le détail sur le public</div>
                                <div class="tab-pane" id="tab3" aria-expanded="false">Vous pouvez consulter le détail des objectifs pédagogiques</div>
                                <div class="tab-pane" id="tab4" aria-expanded="false">Vous pouvez consulter le détail des compléments</div>
                            </div>
                        </div>
                    </div>
            </div>
         </div>
    </div>
{% endblock %}
