{% extends 'base.html.twig' %}

{% block title %}MarqueProduit index{% endblock %}

{% block body %}
<<<<<<< HEAD
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-xs-12">
            <div class="card">
                <div class="card-category text-center">
                    <h1>MarqueProduit index</h1>
                </div>
                <div class="card-body">
    <table class="dataTable table table-striped">
        <a class="btn btn-info rounded float-right mb-4 " href="{{ path('marque_produit_new') }}">Ajouter Une Marque</a>
        <thead class="head">
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th style="width: 15%;">actions</th>
=======
    <h1>MarqueProduit index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>actions</th>
>>>>>>> a3b9b5db40225ab994d5763f0f2a08e9951242b3
            </tr>
        </thead>
        <tbody>
        {% for marque_produit in marque_produits %}
            <tr>
                <td>{{ marque_produit.id }}</td>
                <td>{{ marque_produit.libelle }}</td>
                <td>
<<<<<<< HEAD
                    <a class="btn btn-warning btn-sm rounded-circle" href="{{ path('marque_produit_show', {'id': marque_produit.id}) }}"><i class="fa fa-eye" aria-hidden="true"></i></a>
                    <a class="btn btn-warning btn-sm rounded-circle" href="{{ path('marque_produit_edit', {'id': marque_produit.id}) }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                    <a class="btn btn-danger btn-sm rounded-circle" href="{{ path('marque_produit_delete', {'id': marque_produit.id}) }}"><i class="fa fa-trash" aria-hidden="true"></i></a>
=======
                    <a href="{{ path('marque_produit_show', {'id': marque_produit.id}) }}">show</a>
                    <a href="{{ path('marque_produit_edit', {'id': marque_produit.id}) }}">edit</a>
>>>>>>> a3b9b5db40225ab994d5763f0f2a08e9951242b3
                </td>
            </tr>
        {% else %}
            <tr>
<<<<<<< HEAD
                <td colspan="3" class="text-center">no records found</td>
=======
                <td colspan="3">no records found</td>
>>>>>>> a3b9b5db40225ab994d5763f0f2a08e9951242b3
            </tr>
        {% endfor %}
        </tbody>
    </table>
<<<<<<< HEAD
                </div>
            </div>
        </div>
    </div>
</div>

=======

    <a href="{{ path('marque_produit_new') }}">Create new</a>
>>>>>>> a3b9b5db40225ab994d5763f0f2a08e9951242b3
{% endblock %}
