{% extends 'base.html.twig' %}

{% block title %}Ajouter Une marque{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="card shadow-normal radius">
                    <div class="card-header card-header-primary b-2">
                        <h2 class="text-center">AJOUTER UNE MARQUE</h2>
                    </div>
                    <div class="container">
                        <div class="card-body">
                            {{ include('marque_produit/_form.html.twig') }}
                        </div>
                        <div class="card-footer p-3">
                            <a class="h4" href="{{ path('marque_produit_index') }}"><i class="fa fa-arrow-left mr-2" aria-hidden="true"></i> back to list</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}