{% extends 'base.html.twig' %}

{% block title 'Liste des Marques' %}

{% block body %}
<!-- ============================================================== -->
<!-- Page Content -->
<!-- ============================================================== -->
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Dashboard</h4>
            </div>
            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                <!-- <a href="https://wrappixel.com/templates/ampleadmin/" target="_blank"
                            class="btn btn-danger pull-right m-l-20 hidden-xs hidden-sm waves-effect waves-light">Upgrade
                            to Pro</a> -->
                <ol class="breadcrumb">
                    <li><a href="#">Dashboard</a></li>
                </ol>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- ============================================================== -->
        <!-- table -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="white-box">
                    {# <div class="col-md-3 col-sm-4 col-xs-6 pull-right">
                        <select class="form-control pull-right row b-none">
                            <option>March 2017</option>
                            <option>April 2017</option>
                            <option>May 2017</option>
                            <option>June 2017</option>
                            <option>July 2017</option>
                        </select>
                    </div> #}
                    <h3 class="box-title">Liste des Unités</h3>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Libelle</th>
                                </tr>
                            </thead>
                            <tbody>
                                        <tr>
                                    <td>1</td>
                                    <td class="txt-oflo">L</td>

                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td class="txt-oflo">Kg</td>

                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td class="txt-oflo">Unité</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td class="txt-oflo">m^3</td>
                                </tr>                           
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- chat-listing & recent comments -->
        <!-- ============================================================== -->
        <div class="row">
        </div>
    </div>
    <!-- /.container-fluid -->

</div>
<!-- ============================================================== -->
<!-- End Page Content -->

{% endblock %}