.dropdown-item:hover{
    background-color: #343a40 !important;
}
.height-fixed{
    height: 200vh;
    overflow-y: auto;
}
thead th{
    border-bottom: 1px solid black !important;
    font-weight: bold !important;
}

.current{
    background-color: #194584!important;
    color: #fff!important;
}

.paginate_button:hover{
    background: #d7ccc8 !important;
    color : black !important;
}
.dataTables_wrapper{
    margin-top: 20px;
}

.dataTables_length select,.dataTables_filter input[type='search']{
    display: block;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .50rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.b-2{
    border-bottom: 1px solid black !important;
    /*background-color: #4db6ac !important;*/
}
.radius-shadow-sm{
    border-radius: 5px !important;
    box-shadow: 1px 1px 40px #c8e6c9;
}

.tab-space {
    padding-top: 20px
}
form{
    display: inline;
}
table td i.fa{
    padding: 0 !important;
}