<form method="post" action="{{ path('unite_mesure_delete', {'id': unite_mesure.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ unite_mesure.id) }}">
    <button class="btn btn-sm btn-outline-danger">Delete</button>
</form>
