{{ form_start(form) }}
    <div class="form-group">
        <label for="" class="bmd-label-floating">Libelle</label>
        {{ form_row(form.libelle, {'label': false, 'attr' : {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        <label for="" class="bmd-label-floating">Référence Produit</label>
        {{ form_row(form.pdt_id, { 'label': false, 'attr' : {'class': 'form-control','style':'height:100px'}}) }}
    </div>
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
