<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('plugins/images/favicon.png')}}">
    <link href="{{ asset( 'bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- toast CSS -->
    <link href="{{ asset('plugins/bower_components/toast-master/css/jquery.toast.css')}}" rel="stylesheet">
    <!-- morris CSS -->
    <link href="{{ asset('plugins/bower_components/morrisjs/morris.css')}}" rel="stylesheet">
    <!-- chartist CSS -->
    <link href="{{ asset('plugins/bower_components/chartist-js/dist/chartist.min.css')}}" rel="stylesheet">
    <link href="{{ asset('plugins/bower_components/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css')}}">
    <!-- Menu CSS -->
    <link href="{{ asset('plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css')}}" rel="stylesheet">
    <!-- animation CSS -->
    <link href="{{ asset('css/animate.css')}}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{ asset('css/style.css')}}" rel="stylesheet">
    <!-- color CSS -->
    <link href="{{ asset('css/colors/default.css')}}" id="theme" rel="stylesheet">

    {% endblock %}
</head>

<body class="fix-header">
    <!-- ============================================================== -->
    <!-- Preloader -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Wrapper -->
    <!-- ============================================================== -->
    <div id="wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Project name</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Dashboard</a></li>
                        <li><a href="#">Settings</a></li>
                        <li><a href="#">Profile</a></li>
                        <li><a href="#">Help</a></li>
                    </ul>
                    <form class="navbar-form navbar-right">
                        <input type="text" class="form-control" placeholder="Search...">
                    </form>
                </div>
            </div>
        </nav>

        <!-- End Top Navigation -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav slimscrollsidebar">
                <div class="sidebar-head">
                    <h3><span class="fa-fw open-close"><i class="ti-close ti-menu"></i></span> <span
                            class="hide-menu">Navigation</span></h3>
                </div>
                <ul class="nav" id="side-menu">
                    <li style="padding: 70px 0 0;">
                        <a href="{{ path('index')}}" class="waves-effect"><i class="fa fa-clock-o fa-fw"
                                aria-hidden="true"></i>Dashboard</a>
                    </li>
                    <li>
                        <a href="{{ path('index')}}" class="waves-effect"><i class="fa fa-user fa-fw"
                                aria-hidden="true"></i>Profile</a>
                    </li>
                    <li>
                        <a href="{{ path('produits')}}" class="waves-effect"><i
                                class="fa fa-table fa-fw fa fa-product-hunt" aria-hidden="true"></i>Produits</a>
                    </li>
                    <li>
                        <a href="{{ path('produits_gamme')}}" class="waves-effect"><i class="fa fa-fw fa-tachometer"
                                aria-hidden="true"></i>Gamme</a>
                    </li>
                    <li>
                        <a href="{{ path('produit_marque')}}" class="waves-effect"><i class="fa fa-fw fa-bookmark"
                                aria-hidden="true"></i>Marque</a>
                    </li>
                    <li>
                        <a href="{{ path('produits_types')}}" class="waves-effect"><i class="fa fa-fw fa-filter"
                                aria-hidden="true"></i>Type des produits</a>
                    </li>
                    <li>
                        <a href="{{ path('produits_unite')}}" class="waves-effect"><i class="fa fa-fw fa-thumb-tack"
                                aria-hidden="true"></i>Unité de Mesure</a>
                    </li>

                </ul>
                <!-- <div class="center p-20">
                    <a href="https://wrappixel.com/templates/ampleadmin/" target="_blank"
                        class="btn btn-danger btn-block waves-effect waves-light">Upgrade to Pro</a>
                </div> -->
            </div>

        </div>
        <!-- ============================================================== -->
        <!-- End Left Sidebar -->
        <!-- ============================================================== -->

        {% block body %}
        {% endblock %}
        <footer class="footer text-center"> 2020 &copy; INNOVA ENGINEERING </footer>



        {% block javascripts %}
        <!-- jQuery -->
        <script src="{{ asset('plugins/bower_components/jquery/dist/jquery.min.js')}}"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="{{ asset('bootstrap/dist/js/bootstrap.min.js')}}"></script>
        <!-- Menu Plugin JavaScript -->
        <script src="{{ asset('plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js')}}"></script>
        <!--slimscroll JavaScript -->
        <script src="{{ asset('js/jquery.slimscroll.js')}}"></script>
        <!--Wave Effects -->
        <script src="{{ asset('js/waves.js')}}"></script>
        <!--Counter js -->
        <script src="{{ asset('plugins/bower_components/waypoints/lib/jquery.waypoints.js')}}"></script>
        <script src="{{ asset('plugins/bower_components/counterup/jquery.counterup.min.js')}}"></script>
        <!-- chartist chart -->
        <script src="{{ asset('plugins/bower_components/chartist-js/dist/chartist.min.js')}}"></script>
        <script
            src="{{ asset('plugins/bower_components/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js')}}"></script>
        <!-- Sparkline chart JavaScript -->
        <script src="{{ asset('plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js')}}"></script>
        <!-- Custom Theme JavaScript -->
        <!-- Custom Theme JavaScript -->
        <script src="{{ asset('js/custom.min.js')}}"></script>
        <script src="{{ asset('js/dashboard1.js')}}"></script>
        <script src="{{ asset('plugins/bower_components/toast-master/js/jquery.toast.js')}}"></script>
        <!-- Custom Theme JavaScript -->
        <script src="{{ asset('js/custom.min.js')}}"></script>
        {% endblock %}
</body>

</html>