{% extends 'base.html.twig' %}

{% block body %}


<!-- ============================================================== -->
<!-- Page Content -->
<!-- ============================================================== -->
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Dashboard</h4>
            </div>
            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                <!-- <a href="https://wrappixel.com/templates/ampleadmin/" target="_blank"
                            class="btn btn-danger pull-right m-l-20 hidden-xs hidden-sm waves-effect waves-light">Upgrade
                            to Pro</a> -->
                <ol class="breadcrumb">
                    <li><a href="#">Dashboard</a></li>
                </ol>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <!-- ============================================================== -->
        <!-- Different data widgets -->
        <!-- ============================================================== -->
        <!-- .row -->
        <div class="row">
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="white-box analytics-info">
                    <h3 class="box-title">Total Produits</h3>
                    <ul class="list-inline two-part">
                        <li>
                            <div id="sparklinedash"></div>
                        </li>
                        <li class="text-right"><i class="ti-arrow-up text-success"></i> <span
                                class="counter text-success">1929</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="white-box analytics-info">
                    <h3 class="box-title">Total Gammes</h3>
                    <ul class="list-inline two-part">
                        <li>
                            <div id="sparklinedash2"></div>
                        </li>
                        <li class="text-right"><i class="ti-arrow-up text-purple"></i> <span
                                class="counter text-purple">8899</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="white-box analytics-info">
                    <h3 class="box-title">Total Type </h3>
                    <ul class="list-inline two-part">
                        <li>
                            <div id="sparklinedash3"></div>
                        </li>
                        <li class="text-right"><i class="ti-arrow-up text-info"></i> <span
                                class="counter text-info">50</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--/.row -->
        <!--row -->
        <!-- /.row -->
        {# <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <div class="white-box">
                            <h3 class="box-title">Products Yearly Sales</h3>
                            <ul class="list-inline text-right">
                                <li>
                                    <h5><i class="fa fa-circle m-r-5 text-info"></i>Mac</h5>
                                </li>
                                <li>
                                    <h5><i class="fa fa-circle m-r-5 text-inverse"></i>Windows</h5>
                                </li>
                            </ul>
                            <div id="ct-visits" style="height: 405px;"></div>
                        </div>
                    </div>
                </div> #}
        <!-- ============================================================== -->
        <!-- table -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="white-box">
                    <div class="col-md-3 col-sm-4 col-xs-6 pull-right">
                        <select class="form-control pull-right row b-none">
                            <option>March 2017</option>
                            <option>April 2017</option>
                            <option>May 2017</option>
                            <option>June 2017</option>
                            <option>July 2017</option>
                        </select>
                    </div>
                    <h3 class="box-title">Liste des produits</h3>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Libelle</th>
                                    <th>Catégorie</th>
                                    <th>DATE Achat</th>
                                    <th>Marque</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td class="txt-oflo">HP Elitebook</td>
                                    <td>Ordinateurs</td>
                                    <td class="txt-oflo">April 18, 2017</td>
                                    <td><span class="text-info">HP</span></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td class="txt-oflo">Renault CLIO</td>
                                    <td>Automobile</td>
                                    <td class="txt-oflo">April 19, 2017</td>
                                    <td><span class="text-info">Renault</span></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td class="txt-oflo">Peugeot CLIO</td>
                                    <td>Automobile</td>
                                    <td class="txt-oflo">April 19, 2017</td>
                                    <td><span class="text-info">Peugeot</span></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td class="txt-oflo">Peugeot CLIO</td>
                                    <td>Automobile</td>
                                    <td class="txt-oflo">April 19, 2017</td>
                                    <td><span class="text-info">Peugeot</span></td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td class="txt-oflo">Aygo/td>
                                    <td>Automobile</td>
                                    <td class="txt-oflo">April 19, 2017</td>
                                    <td><span class="text-info">Toyota</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- chat-listing & recent comments -->
        <!-- ============================================================== -->
        <div class="row">
            <!-- .col -->
            {# <div class="col-md-12 col-lg-8 col-sm-12">
                        <div class="white-box">
                            <h3 class="box-title">Recent Comments</h3>
                            <div class="comment-center p-t-10">
                                <div class="comment-body">
                                    <div class="user-img"> <img src="{{ asset( 'plugins/images/users/pawandeep.jpg')}}" alt="user"
                                            class="img-circle">
                                    </div>
                                    <div class="mail-contnet">
                                        <h5>Pavan kumar</h5><span class="time">10:20 AM 20 may 2016</span>
                                        <br /><span class="mail-desc">Donec ac condimentum massa. Etiam pellentesque
                                            pretium lacus. Phasellus ultricies dictum suscipit. Aenean commodo dui
                                            pellentesque molestie feugiat. Aenean commodo dui pellentesque molestie
                                            feugiat</span> <a href="javacript:void(0)"
                                            class="btn btn btn-rounded btn-default btn-outline m-r-5"><i
                                                class="ti-check text-success m-r-5"></i>Approve</a><a
                                            href="javacript:void(0)" class="btn-rounded btn btn-default btn-outline"><i
                                                class="ti-close text-danger m-r-5"></i> Reject</a>
                                    </div>
                                </div>
                                <div class="comment-body">
                                    <div class="user-img"> <img src="{{ asset( 'plugins/images/users/sonu.jpg')}}" alt="user"
                                            class="img-circle">
                                    </div>
                                    <div class="mail-contnet">
                                        <h5>Sonu Nigam</h5><span class="time">10:20 AM 20 may 2016</span>
                                        <br /><span class="mail-desc">Donec ac condimentum massa. Etiam pellentesque
                                            pretium lacus. Phasellus ultricies dictum suscipit. Aenean commodo dui
                                            pellentesque molestie feugiat. Aenean commodo dui pellentesque molestie
                                            feugiat</span>
                                    </div>
                                </div>
                                <div class="comment-body b-none">
                                    <div class="user-img"> <img src="{{ asset( 'plugins/images/users/arijit.jpg')}}" alt="user"
                                            class="img-circle">
                                    </div>
                                    <div class="mail-contnet">
                                        <h5>Arijit singh</h5><span class="time">10:20 AM 20 may 2016</span>
                                        <br /><span class="mail-desc">Donec ac condimentum massa. Etiam pellentesque
                                            pretium lacus. Phasellus ultricies dictum suscipit. Aenean commodo dui
                                            pellentesque molestie feugiat. Aenean commodo dui pellentesque molestie
                                            feugiat</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> #}
            {# <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="panel">
                            <div class="sk-chat-widgets">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        CHAT LISTING
                                    </div>
                                    <div class="panel-body">
                                        <ul class="chatonline">
                                            <li>
                                                <div class="call-chat">
                                                    <button class="btn btn-success btn-circle btn-lg" type="button"><i
                                                            class="fa fa-phone"></i></button>
                                                    <button class="btn btn-info btn-circle btn-lg" type="button"><i
                                                            class="fa fa-comments-o"></i></button>
                                                </div>
                                                <a href="javascript:void(0)"><img
                                                        src="{{ asset( 'plugins/images/users/varun.jpg')}}" alt="user-img"
                                                        class="img-circle"> <span>Varun Dhavan <small
                                                            class="text-success">online</small></span></a>
                                            </li>
                                            <li>
                                                <div class="call-chat">
                                                    <button class="btn btn-success btn-circle btn-lg" type="button"><i
                                                            class="fa fa-phone"></i></button>
                                                    <button class="btn btn-info btn-circle btn-lg" type="button"><i
                                                            class="fa fa-comments-o"></i></button>
                                                </div>
                                                <a href="javascript:void(0)"><img src="{{ asset( 'plugins/images/users/genu.jpg')}}"
                                                        alt="user-img" class="img-circle"> <span>Genelia Deshmukh <small
                                                            class="text-warning">Away</small></span></a>
                                            </li>
                                            <li>
                                                <div class="call-chat">
                                                    <button class="btn btn-success btn-circle btn-lg" type="button"><i
                                                            class="fa fa-phone"></i></button>
                                                    <button class="btn btn-info btn-circle btn-lg" type="button"><i
                                                            class="fa fa-comments-o"></i></button>
                                                </div>
                                                <a href="javascript:void(0)"><img
                                                        src="{{ asset( 'plugins/images/users/ritesh.jpg')}}" alt="user-img"
                                                        class="img-circle"> <span>Ritesh Deshmukh <small
                                                            class="text-danger">Busy</small></span></a>
                                            </li>
                                            <li>
                                                <div class="call-chat">
                                                    <button class="btn btn-success btn-circle btn-lg" type="button"><i
                                                            class="fa fa-phone"></i></button>
                                                    <button class="btn btn-info btn-circle btn-lg" type="button"><i
                                                            class="fa fa-comments-o"></i></button>
                                                </div>
                                                <a href="javascript:void(0)"><img
                                                        src="{{ asset( 'plugins/images/users/arijit.jpg')}}" alt="user-img"
                                                        class="img-circle"> <span>Arijit Sinh <small
                                                            class="text-muted">Offline</small></span></a>
                                            </li>
                                            <li>
                                                <div class="call-chat">
                                                    <button class="btn btn-success btn-circle btn-lg" type="button"><i
                                                            class="fa fa-phone"></i></button>
                                                    <button class="btn btn-info btn-circle btn-lg" type="button"><i
                                                            class="fa fa-comments-o"></i></button>
                                                </div>
                                                <a href="javascript:void(0)"><img
                                                        src="{{ asset( 'plugins/images/users/govinda.jpg')}}" alt="user-img"
                                                        class="img-circle"> <span>Govinda Star <small
                                                            class="text-success">online</small></span></a>
                                            </li>
                                            <li>
                                                <div class="call-chat">
                                                    <button class="btn btn-success btn-circle btn-lg" type="button"><i
                                                            class="fa fa-phone"></i></button>
                                                    <button class="btn btn-info btn-circle btn-lg" type="button"><i
                                                            class="fa fa-comments-o"></i></button>
                                                </div>
                                                <a href="javascript:void(0)"><img
                                                        src="{{ asset( 'plugins/images/users/hritik.jpg')}}" alt="user-img"
                                                        class="img-circle"> <span>John Abraham<small
                                                            class="text-success">online</small></span></a>
                                            </li>
                                            <li>
                                                <div class="call-chat">
                                                    <button class="btn btn-success btn-circle btn-lg" type="button"><i
                                                            class="fa fa-phone"></i></button>
                                                    <button class="btn btn-info btn-circle btn-lg" type="button"><i
                                                            class="fa fa-comments-o"></i></button>
                                                </div>
                                                <a href="javascript:void(0)"><img
                                                        src="{{ asset( 'plugins/images/users/varun.jpg')}}" alt="user-img"
                                                        class="img-circle"> <span>Varun Dhavan <small
                                                            class="text-success">online</small></span></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> #}
            <!-- /.col -->
        </div>
    </div>
    <!-- /.container-fluid -->

</div>
<!-- ============================================================== -->
<!-- End Page Content -->
<!-- ============================================================== -->
</div>

{% endblock %}