{{ form_start(form) }}
<div class="form-group">
    <label for="" class="bmd-label-floating">Libelle Paramétre</label>
    {{ form_row(form.par_parametre, {'label': false, 'attr' : {'class': 'form-control'}}) }}
</div>
<div class="form-group">
    <label for="" class="bmd-label-floating">Valeur Paramétre</label>
    {{ form_row(form.par_valeur, {'label': false, 'attr' : {'class': 'form-control'}}) }}
</div>
<button class="btn btn-success btn-block">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}





