{% extends 'base.html.twig' %}

{% block title %}Parametres index{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-xs-12">
            <div class="card">
                <div class="card-category text-center">
                    <h2>Parametres index</h2></div>
                <div class="card-body">
                    <table class="dataTable table table-striped">
                        <a class="btn btn-info rounded float-right mb-4 " href="{{ path('parametres_new') }}">Ajouter Paramètre</a>
        <thead>
            <tr class="head">
                <th>Id</th>
                <th>Par_parametre</th>
                <th>Par_valeur</th>
                <th style="width: 15%;">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for parametre in parametres %}
            <tr>
                <td>{{ parametre.id }}</td>
                <td>{{ parametre.parParametre }}</td>
                <td>{{ parametre.parValeur }}</td>
                <td>
                    <a class="btn btn-warning btn-sm rounded-circle" href="{{ path('parametres_show', {'id': parametre.id}) }}"><i class="fa fa-eye" aria-hidden="true"></i></a>
                    <a class="btn btn-warning btn-sm rounded-circle" href="{{ path('parametres_edit', {'id': parametre.id}) }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                    <a class="btn btn-danger btn-sm rounded-circle" href="{{ path('parametres_delete', {'id': parametre.id}) }}"><i class="fa fa-trash" aria-hidden="true"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4" class="text-center">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
