<<<<<<< HEAD
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('assets/images/apple-icon.png')}}">
    <link rel="icon" type="image/png" href="{{ asset('assets/images/favicon.png')}}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        Bienvenue Sur l'application de gestion des produits Réalisé par INNNOVATECH ENGINEERING
    </title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/fonts/fonts.css') }}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!--<link rel="stylesheet" href="{{ asset('assets/fonts/css_font-awesome.css') }}">-->
    <!-- CSS Files -->
    <link rel="stylesheet" href="{{ asset('assets/css/jquery.dataTables.min.css') }}">
    <link href="{{ asset('assets/css/material-dashboard.css?v=2.1.2')}}" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">
</head>
<body>
<div class="wrapper ">
    <div class="sidebar" data-color="azure" data-background-color="white" data-image="{{ asset('assets/images/sidebar-1.jpg')}}">
        <!--
          Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

          Tip 2: you can also add an image using data-image tag
      -->
        <div class="logo"><a href="http://www.creative-tim.com" class="simple-text logo-normal">
                <img src="{{ asset('assets/images/logo.png') }}" width="180" height="50" alt="innovatech engineering">
            </a></div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('dashboard') }}">
                        <i class="material-icons">schedule</i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="{{ path('produits_index') }}">
                        <i class="material-icons">work</i>
                        <p>Produits</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('type_produit_index') }}">
                        <i class="material-icons">filter_alt</i>
                        <p>Type des produits</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="{{ path('produit_extension_index') }}">
                        <i class="material-icons">layers</i>
                        <p>Produit Extension</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="{{ path('etat_produit_index') }}">
                        <i class="material-icons">data_usage</i>
                        <p>Etat des produits</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="{{ path('marque_produit_index') }}">
                        <i class="material-icons">bubble_chart</i>
                        <p>Marque des produits</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="{{ path('gamme_produit_index') }}">
                        <i class="material-icons">pets</i>
                        <p>Gamme des produits</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="{{ path('parametres_index') }}">
                        <i class="material-icons">settings_applications</i>
                        <p>Paramétres</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="{{ path('unite_mesure_index') }}">
                        <i class="material-icons">liquor</i>
                        <p>Unité de Mesure</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-panel">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
            <div class="container-fluid">
                <div class="collapse navbar-collapse justify-content-end">
                    <form class="navbar-form">
                        <div class="input-group no-border">
                            <input type="text" value="" class="form-control" placeholder="Search...">
                            <button type="submit" class="btn btn-white btn-round btn-just-icon">
                                <i class="material-icons">search</i>
                                <div class="ripple-container"></div>
                            </button>
                        </div>
                    </form>
                    <ul class="navbar-nav">
                        {#<li class="nav-item">
                             <a class="nav-link" href="javascript:;">
                                 <i class="material-icons">dashboard</i>
                                 <p class="d-lg-none d-md-block">
                                     Stats
                                 </p>
                             </a>
                         </li>
                         <li class="nav-item dropdown">
                             <a class="nav-link" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                 <i class="material-icons">notifications</i>
                                 <span class="notification">5</span>
                                 <p class="d-lg-none d-md-block">
                                     Some Actions
                                 </p>
                             </a>
                             <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                 <a class="dropdown-item" href="#">Mike John responded to your email</a>
                                 <a class="dropdown-item" href="#">You have 5 new tasks</a>
                                 <a class="dropdown-item" href="#">You're now friend with Andrew</a>
                                 <a class="dropdown-item" href="#">Another Notification</a>
                                 <a class="dropdown-item" href="#">Another One</a>
                             </div>
                         </li>#}
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="javascript:;" id="navbarDropdownProfile" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">person</i>
                                <p class="d-lg-none d-md-block">
                                    Account
                                </p>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                                <a class="dropdown-item" href="#">Profile</a>
                                <a class="dropdown-item" href="#">Settings</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Log out</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- End Navbar -->
        <div class="content height-fixed">
{% block body %}
{% endblock %}
        </div>
        <!-- Footer -->
        <footer class="page-footer font-small blue">
            <!-- Copyright -->
            <div class="footer-copyright text-center py-3"> &copy;<script>
                    document.write(new Date().getFullYear())
                </script><i class="material-icons">favorite</i> By
                <a href="https://mdbootstrap.com/"> INNOVATECH ENGINEERING</a>
            </div>
        </footer>
        <!-- Footer -->
    </div>
</div>
{% block javascripts %}
    <!--   Core JS Files   -->
    <script src="{{ asset('assets/js/core/jquery.min.js')}}"></script>
    <script src="{{ asset('assets/js/core/popper.min.js')}}"></script>
    <script src="{{ asset('assets/js/core/bootstrap-material-design.min.js')}}"></script>
    <script src="{{ asset('assets/js/plugins/perfect-scrollbar.jquery.min.js')}}"></script>
    <!-- Plugin for the momentJs  -->
    <script src="{{ asset('assets/js/plugins/moment.min.js')}}"></script>
    <!--  Plugin for Sweet Alert -->
    <script src="{{ asset('assets/js/plugins/sweetalert2.js')}}"></script>
    <!-- Forms Validations Plugin -->
    <script src="{{ asset('assets/js/plugins/jquery.validate.min.js')}}"></script>
    <!-- Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
    <script src="{{ asset('assets/js/plugins/jquery.bootstrap-wizard.js')}}"></script>
    <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
    <script src="{{ asset('assets/js/plugins/bootstrap-selectpicker.js')}}"></script>
    <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
    <script src="{{ asset('assets/js/plugins/bootstrap-datetimepicker.min.js')}}"></script>
    <!--  DataTables.net Plugin, full documentation here: https://datatables.net/ -->
    <!--<script src="{{ asset('assets/js/plugins/datatable.js')}}"></script> -->
    <script src="{{ asset('assets/js/plugins/jquery.dataTables.min.js')}}"></script>
    <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
    <script src="{{ asset('assets/js/plugins/bootstrap-tagsinput.js')}}"></script>
    <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
    <script src="{{ asset('assets/js/plugins/jasny-bootstrap.min.js')}}"></script>
    <!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
    <script src="{{ asset('assets/js/plugins/fullcalendar.min.js')}}"></script>
    <!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
    <script src="{{ asset('assets/js/plugins/jquery-jvectormap.js')}}"></script>
    <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="{{ asset('assets/js/plugins/nouislider.min.js')}}"></script>
    <!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support SweetAlert -->
    <script src="{{ asset('assets/js/core/core.js') }}"></script>
    <!-- Library for adding dinamically elements -->
    <script src="{{ asset('assets/js/plugins/arrive.min.js')}}"></script>
    <!--  Google Maps Plugin    -->
    {#<script src="{{ asset('assets/js/core/maps.js')}}"></script>#}
    <!-- Chartist JS -->
    {#<script src="{{ asset('assets/js/plugins/chartist.min.js')}}"></script>#}
    <!--  Notifications Plugin    -->
    <script src="{{ asset('assets/js/plugins/bootstrap-notify.js')}}"></script>
    <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="{{ asset('assets/js/material-dashboard.js?v=2.1.2')}}" type="text/javascript"></script>
    <!-- Material Dashboard DEMO methods, don't include it in your project! -->
    {#<script src="{{ asset('assets/demo/demo.js')}}"></script>#}
   <script src="{{ asset('assets/js/script_functions.js') }}" type="text/javascript" ></script>
    <script src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function() {
            // Javascript method's body can be found in assets/js/demos.js
            md.initDashboardPageCharts();

        });
    </script>
    <script>

    </script>
{% endblock %}

</body>

=======
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('plugins/images/favicon.png')}}">
    <link href="{{ asset( 'bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- toast CSS -->
    <link href="{{ asset('plugins/bower_components/toast-master/css/jquery.toast.css')}}" rel="stylesheet">
    <!-- morris CSS -->
    <link href="{{ asset('plugins/bower_components/morrisjs/morris.css')}}" rel="stylesheet">
    <!-- chartist CSS -->
    <link href="{{ asset('plugins/bower_components/chartist-js/dist/chartist.min.css')}}" rel="stylesheet">
    <link href="{{ asset('plugins/bower_components/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css')}}">
    <!-- Menu CSS -->
    <link href="{{ asset('plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css')}}" rel="stylesheet">
    <!-- animation CSS -->
    <link href="{{ asset('css/animate.css')}}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{ asset('css/style.css')}}" rel="stylesheet">
    <!-- color CSS -->
    <link href="{{ asset('css/colors/default.css')}}" id="theme" rel="stylesheet">
    <!-- Own CSS -->
    <link href="{{ asset('css/myStyle.css')}}" rel="stylesheet">
    {% endblock %}
</head>

<body class="fix-header">
    <!-- ============================================================== -->
    <!-- Preloader -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Wrapper -->
    <!-- ============================================================== -->
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-static-top m-b-0">
            <div class="navbar-header">
                <div class="p-10" style="display: inline-block;">
                    <img src="{{ asset('plugins/images/logo-innovatech-color.png')}}" alt="INNOVATECH ENGINEERING"
                        width="150" height="40">
                </div>
                <ul class="float-right nav navbar-top-links navbar-right pull-right">
                    <li>
                        <a class="nav-toggler open-close waves-effect waves-light hidden-md hidden-lg"
                            href="javascript:void(0)"><i class="fa fa-bars"></i></a>
                    </li>
                    <li>
                        <form role="search" class="app-search hidden-sm hidden-xs m-r-10">
                            <input type="text" placeholder="Search..." class="form-control">
                            <a href="">
                                <i class="fa fa-search"></i>
                            </a>
                        </form>
                    </li>
                    <li class="m-r-30">
                        <button type="button" class="btn btn-danger btn-circle btn-lg"><i
                                class="glyphicon glyphicon-share"></i></button>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-header -->
            <!-- /.navbar-top-links -->
            <!-- /.navbar-static-side -->
        </nav>
        <!-- End Top Navigation -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav slimscrollsidebar">
                <div class="sidebar-head">
                    <h3><span class="fa-fw open-close"><i class="ti-close ti-menu"></i></span> <span
                            class="hide-menu">Navigation</span></h3>
                </div>
                <ul class="nav" id="side-menu">
                    <li style="padding: 70px 0 0;">
                        <a href="{{ path('index')}}" class="waves-effect"><i class="fa fa-clock-o fa-fw"
                                aria-hidden="true"></i>Dashboard</a>
                    </li>
                    <li>
                        <a href="{{ path('produits')}}" class="waves-effect"><i
                                class="fa fa-table fa-fw fa fa-product-hunt" aria-hidden="true"></i>Produits</a>
                    </li>
                    <li>
                        <a href="{{ path('produits_gamme')}}" class="waves-effect"><i class="fa fa-fw fa-tachometer"
                                aria-hidden="true"></i>Gamme</a>
                    </li>
                    <li>
                        <a href="{{ path('produit_marque')}}" class="waves-effect"><i class="fa fa-fw fa-bookmark"
                                aria-hidden="true"></i>Marque</a>
                    </li>
                     <li>
                        <a href="{{ path('etat_produit')}}" class="waves-effect"><i class="fa fa-fw fa-cube"
                                aria-hidden="true"></i>Etat des produits</a>
                    </li>
                    <li>
                        <a href="{{ path('produits_types')}}" class="waves-effect"><i class="fa fa-fw fa-filter"
                                aria-hidden="true"></i>Type des produits</a>
                    </li>
                    <li>
                        <a href="{{ path('produits_unite')}}" class="waves-effect"><i class="fa fa-fw fa-thumb-tack"
                                aria-hidden="true"></i>Unité de Mesure</a>
                    </li>

                </ul>
                <!-- <div class="center p-20">
                    <a href="https://wrappixel.com/templates/ampleadmin/" target="_blank"
                        class="btn btn-danger btn-block waves-effect waves-light">Upgrade to Pro</a>
                </div> -->
            </div>

        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Left Sidebar -->
    <!-- ============================================================== -->

    {% block body %}
    {% endblock %}
    <footer class="footer text-center"> 2020 &copy; INNOVATECH ENGINEERING </footer>



    {% block javascripts %}
    <!-- jQuery -->
    <script src="{{ asset('plugins/bower_components/jquery/dist/jquery.min.js')}}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('bootstrap/dist/js/bootstrap.min.js')}}"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="{{ asset('plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js')}}"></script>
    <!--slimscroll JavaScript -->
    <script src="{{ asset('js/jquery.slimscroll.js')}}"></script>
    <!--Wave Effects -->
    <script src="{{ asset('js/waves.js')}}"></script>
    <!--Counter js -->
    <script src="{{ asset('plugins/bower_components/waypoints/lib/jquery.waypoints.js')}}"></script>
    <script src="{{ asset('plugins/bower_components/counterup/jquery.counterup.min.js')}}"></script>
    <!-- chartist chart -->
    <script src="{{ asset('plugins/bower_components/chartist-js/dist/chartist.min.js')}}"></script>
    <script
        src="{{ asset('plugins/bower_components/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js')}}"></script>
    <!-- Sparkline chart JavaScript -->
    <script src="{{ asset('plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js')}}"></script>
    <!-- Custom Theme JavaScript -->
    <script src="{{ asset('js/dashboard1.js')}}"></script>
    <script src="{{ asset('plugins/bower_components/toast-master/js/jquery.toast.js')}}"></script>
    <script src="{{ asset('js/custom.min.js')}}"></script>
    {% endblock %}
</body>

>>>>>>> a3b9b5db40225ab994d5763f0f2a08e9951242b3
</html>