<form method="post" action="{{ path('gamme_produit_delete', {'id': gamme_produit.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ gamme_produit.id) }}">
    <button class="btn btn-sm btn-outline-danger">Delete</button>
</form>
