{% extends 'base.html.twig' %}

{% block title %}GammeProduit index{% endblock %}

{% block body %}
<<<<<<< HEAD
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-xs-12">
            <div class="card">
                <div class="card-category text-center">
                    <h2>GammeProduit index</h2>
                </div>
                <div class="card-body">
                    <table class="dataTable table table-striped">
                        <a class="btn btn-info rounded float-right mb-4 " href="{{ path('gamme_produit_new') }}">Ajouter une Gamme</a>
        <thead>
            <tr class="head">
                <th>Id</th>
                <th>Libelle</th>
                <th style="width: 15%;">actions</th>
=======
    <h1>GammeProduit index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>actions</th>
>>>>>>> a3b9b5db40225ab994d5763f0f2a08e9951242b3
            </tr>
        </thead>
        <tbody>
        {% for gamme_produit in gamme_produits %}
            <tr>
                <td>{{ gamme_produit.id }}</td>
                <td>{{ gamme_produit.Libelle }}</td>
                <td>
<<<<<<< HEAD
                    <a class="btn btn-warning btn-sm rounded-circle" href="{{ path('gamme_produit_show', {'id': gamme_produit.id}) }}"><i class="fa fa-eye" aria-hidden="true"></i></a>
                    <a class="btn btn-warning btn-sm rounded-circle" href="{{ path('gamme_produit_edit', {'id': gamme_produit.id}) }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                    <a class="btn btn-danger btn-sm rounded-circle" href="{{ path('gamme_produit_delete', {'id': gamme_produit.id}) }}">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
=======
                    <a href="{{ path('gamme_produit_show', {'id': gamme_produit.id}) }}">show</a>
                    <a href="{{ path('gamme_produit_edit', {'id': gamme_produit.id}) }}">edit</a>
>>>>>>> a3b9b5db40225ab994d5763f0f2a08e9951242b3
                </td>
            </tr>
        {% else %}
            <tr>
<<<<<<< HEAD
                <td colspan="3" class="text-center">no records found</td>
=======
                <td colspan="3">no records found</td>
>>>>>>> a3b9b5db40225ab994d5763f0f2a08e9951242b3
            </tr>
        {% endfor %}
        </tbody>
    </table>
<<<<<<< HEAD
                </div>
            </div>
        </div>
    </div>
</div>
=======

    <a href="{{ path('gamme_produit_new') }}">Create new</a>
>>>>>>> a3b9b5db40225ab994d5763f0f2a08e9951242b3
{% endblock %}
