{% extends 'base.html.twig' %}

{% block title %}TypeProduit index{% endblock %}

{% block body %}
<<<<<<< HEAD
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-xs-12">
            <div class="card">
                <div class="card-category text-center">
                    <h2>TypeProduit index</h2>
                </div>
                <div class="card-body">
                    <table class="dataTable table table-striped">
                        <a class="btn btn-info rounded float-right mb-4 " href="{{ path('type_produit_new') }}">Ajouter Type</a>
        <thead>
            <tr class="head">
                <th>Tpd_libelle</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th style="width: 15%;">actions</th>
=======
    <h1>TypeProduit index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tpd_libelle</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
>>>>>>> a3b9b5db40225ab994d5763f0f2a08e9951242b3
            </tr>
        </thead>
        <tbody>
        {% for type_produit in type_produits %}
            <tr>
<<<<<<< HEAD
                <td>{{ type_produit.getTpdLibelle() }}</td>
                <td>{{ type_produit.createdAt ? type_produit.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ type_produit.updatedAt ? type_produit.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class="btn btn-warning btn-sm rounded-circle" href="{{ path('type_produit_show', {'id': type_produit.id}) }}"><i class="fa fa-eye" aria-hidden="true"></i></a>
                    <a class="btn btn-warning btn-sm rounded-circle" href="{{ path('type_produit_edit', {'id': type_produit.id}) }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                    <a class="btn btn-danger btn-sm rounded-circle" href="{{ path('type_produit_delete', {'id': type_produit.id}) }}"><i class="fa fa-trash" aria-hidden="true"></i></a>
=======
                <td>{{ type_produit.id }}</td>
                <td>{{ type_produit.tpdLibelle }}</td>
                <td>{{ type_produit.createdAt ? type_produit.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ type_produit.updatedAt ? type_produit.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('type_produit_show', {'id': type_produit.id}) }}">show</a>
                    <a href="{{ path('type_produit_edit', {'id': type_produit.id}) }}">edit</a>
>>>>>>> a3b9b5db40225ab994d5763f0f2a08e9951242b3
                </td>
            </tr>
        {% else %}
            <tr>
<<<<<<< HEAD
                <td colspan="5" class="text-center">no records found</td>
=======
                <td colspan="5">no records found</td>
>>>>>>> a3b9b5db40225ab994d5763f0f2a08e9951242b3
            </tr>
        {% endfor %}
        </tbody>
    </table>
<<<<<<< HEAD
                </div>
            </div>
        </div>
    </div>
</div>
=======

    <a href="{{ path('type_produit_new') }}">Create new</a>
>>>>>>> a3b9b5db40225ab994d5763f0f2a08e9951242b3
{% endblock %}
