{% extends 'base.html.twig' %}

{% block title %}Type Produit{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="card shadow-normal radius">
                    <div class="card-header card-header-primary b-2">
                        <h2>Détail Type de Produit {{ type_produit.id }}</h2>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="formGroupExampleInput">Id</label>
                            <label type="text" class="form-control" id="formGroupExampleInput">
                                {{ type_produit.id }}
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput">Libelle</label>
                            <label type="text" class="form-control" id="formGroupExampleInput">
                                {{ type_produit.getTpdLibelle() }}
                            </label>
                        </div>
                        <!--<div class="form-group">
                            <label for="formGroupExampleInput">CreatedAt</label>
                            <label type="text" class="form-control" id="formGroupExampleInput">
                                {{ type_produit.createdAt ? type_produit.createdAt|date('Y-m-d H:i:s') : '' }}
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput">UpdatedAt</label>
                            <label type="text" class="form-control" id="formGroupExampleInput">
                                {{ type_produit.updatedAt ? type_produit.updatedAt|date('Y-m-d H:i:s') : '' }}
                            </label>
                        </div>-->
                    </div>
                    <div class="card-footer">
                        <a href="{{ path('type_produit_index') }}">
                            <button class="btn btn-sm btn-outline-warning"><i class="fa fa-arrow-left mr-2" aria-hidden="true"></i>  &nbsp; Revenir au Liste</button></a>
                        <a href="{{ path('type_produit_edit', {'id': type_produit.id}) }}">
                            <button class="btn btn-sm btn-outline-warning"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>  &nbsp; edit</button>
                        </a>
                        {{ include('type_produit/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
